@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans&family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

img {
    max-width: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.green {
    color: #1AFF7C;
}

.red {
    color: #FF1A1A;
}

.flex {
    display: flex;
    align-items: center;
}

header, .marketPrice {
    background: #1B004E;
}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.96rem;
    padding-right: 0.96rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.63rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 100%;
    color: #FFFFFF;
}


@media screen and (max-width: 1129px) {
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(227.07deg, #4E0062 0.43%, #220076 99.56%);
        z-index: 5;
        transition: all .5s ease-in;
    }

    .nav__flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

     /* Menu Toggle Logic */
    .close-icon {
        position: fixed;
        top: 3rem;
        right: 1.4rem;
        font-size: 30px;
        color: #c5c5c5;
        z-index: 6;
        cursor: pointer;
    }

    #openMenu {
        cursor: pointer;
    }

    #showMenu {
        display: none;
    }

    #showMenu ~ #closeMenu {
        display: none;
    }

    #showMenu:checked + .nav {
        right: 0;
    }

    #showMenu:checked ~ #openMenu {
        display: none;
    }

    #showMenu:checked ~ #closeMenu {
        display: block;
        /* transition: all 1s linear; */
    }

    .hero__ribbon, .hero__illustration, .wrapper__ribbon, .scrool {
        display: none;
    }
}

.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

@media screen and (max-width: 1024px) {
    .nav__menu {
        flex-direction: column;
        margin-bottom: 2rem;
    }
}

.nav__link {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 141%;
    color: #FFFFFF;
}

.nav__link:hover {
    padding-bottom: .2rem;
    border-bottom: 2px solid #EB5757;
}

.nav__btn {
    width: 152px;
    height: 47px;
    border: 2px solid #EB5757;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: 100%;
    color: #FFFFFF;
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;
}


.nav__btn:hover {
    background: #EB5757;
}

.hero {
    text-align: center;
    padding-top: 2.71rem;
    padding-bottom: 3.125rem;
}

.hero__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 133%;
    color: #FFFFFF;
}

.hero__desc {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #FFFFFF;
    padding-top: 0.8125rem;
    padding-bottom: 1.25rem;
    max-width: 47ch;
    margin-left: auto;
    margin-right: auto;
}

.hero__btn {
    border: none;
    padding: 0.4375rem 0.875rem;
    background: #EB5757;
    border-radius: 3.125rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 121%;
    text-align: center;
    color: #FFFFFF;
}

.hero__btn:hover {
    border: 2px solid #EB5757;
    background-color: transparent;
}

@media screen and (max-width: 900px) {
    .hero__illustration, .scrool, svg {
        display: none;
    }
}

.marketPrice {
    margin-top: -1.25rem;
    padding-bottom: 4.06rem;
}

.marketPrice__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 1.25rem;
    margin-bottom: 1.875rem;
}

.marketPrice__table {
    font-family: 'Inter', sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
}

.marketPrice__tRow,
.marketPrice__bRow {
    border-bottom: 0.6px solid #BDBDBD;
}

@media screen and (max-width: 900px) {
    .marketPrice__bRow:last-child {
        border-bottom: none;
    }

    .sm-hide {
        display: none;
    }
}

.marketPrice__head:nth-child(2),
.marketPrice__data:nth-child(2) {
    text-align: left;
}

.marketPrice__head {
    padding-bottom: 1.25rem;
}

.marketPrice__data {
    padding-top: 1.24rem;
    padding-bottom: 1.3rem;
}

.marketPrice__head,
.marketPrice__data:nth-child(3),
.marketPrice__data:nth-child(6),
.marketPrice__data:nth-child(7) {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 100%;
}

.marketPrice__data:nth-child(7) {
    position: relative;
}

.marketPrice__head:nth-child(7),
.marketPrice__data:nth-child(7) {
    width: 137px;
    text-align: center;
}

.marketPrice__data span {
    display: block;
    text-align: right;
    padding-top: 0.625rem;
    font-weight: 600;
    font-size: 0.6875rem;
    color: #828282;
    line-height: 11px;
}

.marketPrice__data:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.81rem;
    line-height: 123%;
    color: #FFFFFF;
}

.coin-logo {
    padding-right: 0.625rem;
}

.coin-acronym {
    font-size: 0.6875rem;
    line-height: 100%;
    color: #828282;
    padding-left: 0.3125rem;
}

/* Features Section */
.features {
    background: #FFF6FB;
}

.features__heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #171717;
    text-align: center;
    padding-top: 51.64px;
    padding-bottom: 30.85px;
}

.features__card {
    text-align: center;
    padding-bottom: 50px;
}

.features__icon {
    padding-bottom: 30px;
}

.features__subheading {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    color: #000000;
    padding-bottom: 20px;
}

.features__offer li {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    padding-bottom: 15px;
}


/* App Download Section */
.download {
    background: #1B004E;
}

.download__flex {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.download__heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.download__desc {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.download__illustration {
    padding-bottom: 29.52px;
}

.download__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* News Section */
.news {
    background: #FFF6FB;
}

.news__heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #000000;
    padding-top: 35.89px;
    padding-bottom: 16.09px;
    text-align: center;
}

.news__flex {
    padding-bottom: 35.1px;
}

.news__card {
    max-width: 368px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(203, 203, 203, 0.25);
    border-radius: 10px;
    margin-top: 36.53px;
}

.news__card_content {
    padding: 24.55px 6.5px 24.75px;
}

.news__card_heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    padding-bottom: 13.87px;
}

.news__card_desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    letter-spacing: 0.03em;
    color: #4F4F4F;
    padding-bottom: 28.65px;
}

.news__card_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__card__footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #616161;
}

.news__card_footer--active {
    display: flex;
    gap: 5px;
}


@media screen and (max-width: 900px) {
    .subscribe__ribbon {
        display: none;
    }
}

/* Subscribe Section Starts */
.subscribe {
    position: relative;
    background-color: #1b004e;
    text-align: center;
}

.subscribe__content {
    padding-top: 50px;
    padding-bottom: 55.42px;
}

.subscribe__heading {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.subscribe__desc {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.subscribe__form {
    width: 100%;
    max-width: 578px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 37px;
    outline: none;
    margin: 0 auto;
}

.subscribe__form_input {
    font-family: 'Inter', sans-serif;
    border: none;
    width: 45%;
    flex: 1;
    padding-left: 12.69px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.subscribe__form_input:focus {
    outline: none;
}

.subscribe__form_input::placeholder {
    font-family: 'Inter', sans-serif;
    line-height: 15px;
    color: #FFFFFF;
}

.subscribe__form_btn {
    width: 40%;
    /* max-width: 139px; */
    padding: 13px 34px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 3.5px;
    font-family: "Poppins", sans-serif;
    background: #EB5757;
    border-radius: 31px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 14px;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    /* transform: scale(1); */
}

.subscribe__form_btn:hover {
    transform: scale(0.9);
}


/* Footer Section */
footer {
    background: linear-gradient(227.07deg, #4E0062 0.43%, #220076 99.56%);
}

.grid {
    padding-top: 28.58px;
    padding-bottom: 50.85px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 81.93px;
}

@media screen and (max-width: 767px) {
    .grid__items:nth-child(5){
        grid-row: 3/3;
       }
    .grid__items:nth-child(4){
    grid-row: 2/3;
    }

    .app-illustration2 {
        display: none;
    }

    .app-illustration1 {
        display: initial;
    }
}

.grid__items:not(:last-of-type) {
    padding-bottom: 30px;
}

.grid__heading {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.grid__list {
    padding-bottom: 20px;
}

.grid__links {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: #E6E6E6;
    opacity: 0.8;
}

.grid__links:hover {
    padding-bottom: 1.5px;
    border-bottom: 2px solid #eb5757;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons i {
    border: 1px solid #616161;
    color: #616161;
    border-radius: 10px;
    padding: 8px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    margin-right: 16.32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icons i.active {
    background-color: #eb5757;
    color: #fff;
  }

  .social-icons i:not(.active):hover {
    color: #eb5757;
    border: 1px solid #eb5757;
  }

.credit p {
    padding-top: 26.04px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #BCBCBC;
}


@media screen and (min-width: 768px) {
   .wrapper {
    max-width: 768px;
    padding-left: 2rem;
    padding-right: 2rem;
   }

   .navbar {
    padding-top: 1.938rem;
    }

    .logo {
        font-size: 1.5rem;
        margin-right: 10.78rem;
    }

    .hero {
        padding-top: 5rem;
    }

    .hero__title {
        font-size: 2.8rem;
        /* max-width: 20ch;
        margin-left: auto;
        margin-right: auto; */
    }

    .hero__desc {
        font-size: 17px;
        line-height: 165%;
        padding-top: 10px;
        padding-bottom: 2.05rem;
    }

    .hero__btn {
        width: 192px;
        padding: 0.9375rem 1.875rem;
        font-size: 0.875rem;
        line-height: 100%;
        margin-bottom: 50px;
    }

    .features__heading {
        font-size: 32px;
        line-height: 48px;
        padding-bottom: 60.23px;
        padding-top: 92.38px;
    }

    .features__icon {
        padding-bottom: 45.24px;
    }

    .features__subheading, .features__offer li {
        padding-bottom: 29px;
    }

    .download__heading {
        font-size: 32px;
        line-height: 48px;
        padding-bottom: 14px;
    }

    .download__desc {
        font-size: 17px;
        line-height: 28px;
    }

    .news__flex {
        padding-bottom: 110px;
    }

    .news__heading {
        font-size: 32px;
        line-height: 32px;
        padding-top: 100.39px;
        padding-bottom: 10px;
    }

    .news__card_content {
        padding: 24.55px 19px 24.75px;
    }

    .subscribe__content {
        padding-top: 92px;
        padding-bottom: 110px;
    }

    .subscribe__heading {
        font-size: 50px;
        line-height: 50px;
        padding-bottom: 14px;
    }

    .subscribe__desc {
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 50px;
    }

    .subscribe__form_input {
        padding-left: 21.32px;
        font-size: 15px;
        line-height: 18px;
    }

    .subscribe__form_input::placeholder {
        line-height: 18px;
    }

    .subscribe__form_btn {
        padding: 19px 26.5px;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-right: 5px;
        font-size: 17px;
        line-height: 24px;
    }

   .grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
    }

    .app-illustration {
        display: none;
    }

    .app-illustration2 {
        display: initial;
    }

}

@media screen and (min-width: 901px) {
    .wrapper {
        max-width: 901px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .wrapper__ribbon {
        display: block;
        position: absolute;
        top: 138.21px;
        left: -3px;
      }
    
    header {
        position: relative;
        height: 600px;
    }

    .wavy-bg {
        width: 100%;
        height: 100%;
        background: linear-gradient(227.07deg, #4E0062 0.43%, #220076 99.56%);
        background-position: bottom;
        
    }

    svg {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .hero {
        padding-top: 6rem;
    }

    .hero__title {
        font-size: 3rem;
    }

    .marketPrice {
        padding-bottom: 6.93rem;
    }

    .marketPrice__title {
        padding-top: 5.93rem;
        margin-bottom: 3.75rem;
    }

    .marketPrice__data:first-child {
        text-align: left;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #828282;
        padding-right: 1rem;
    }

    .star-icon {
        padding-right: 12px;
    }

    .marketPrice__data:nth-child(2) {
        width: 128px;
        padding-right: 56.63px;
    }

    @media screen and (max-width: 1150px) {
        .sm-hide--active {
            display: none;
        }
    }

    .marketPrice__head:nth-child(3),
    .marketPrice__data:nth-child(3) {
        text-align: center;
        padding-right: 45px;
    }

    .marketPrice__data:nth-child(4),
    .marketPrice__data:nth-child(5) {
        font-weight: 400;
        font-size: 13px;
        line-height: 123%;
    }

    .marketPrice__head:nth-child(4){
        text-align: left;
    }

    .marketPrice__data:nth-child(4) {
        width: 49.53px;
        padding-right: 64.69px;
    }
    
    .marketPrice__head:nth-child(5) {
        text-align: left;
        padding-left: .5rem;
    }

    .marketPrice__data:nth-child(5){
        width: 58px;
        padding-right: 45px;
    }

    .marketPrice__head:nth-child(6) .flex {
        justify-content: center;
    }

    .marketPrice__data:nth-child(6) {
        text-align: center;
    }

    .marketPrice__data:nth-child(7) {
        padding-left: 25px;
        padding-right: 25px;
    }

    .marketPrice__dots {
        padding-left: 20px;
    }

    .subscribe__ribbon {
        position: absolute;
    }

    .subscribe__ribbon--active {
        left: -119.91px;
        top: 55px;
    }

    .subscribe__ribbon--active2 {
        /* left: -119.91px;
        top: 55px; */
        right: -.82%;
        top: 21%;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        max-width: 1214px;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .hero {
        padding-top: 7.57rem;
    }

    .hero__title {
        font-size: 3rem;
    }

    header {
        position: relative;
        height: 700px;
    }

    /* .wavy-bg {
        width: 100%;
        height: 100%;
        background: linear-gradient(227.07deg, #4E0062 0.43%, #220076 99.56%);
        background-position: bottom;
        
    } */

    /* svg {
        position: absolute;
        bottom: 0;
        left: 0;
    } */

    .scrool {
        display: inline-block;
        padding-top: 1.588rem;
      }

      .hero__image-2 {
        position: absolute;
        left: 750px;
        top: 240px;
        /* z-index: 0; */
    }

    .features__flex {
        display: flex;
        justify-content: space-between;
    }

    .features__card {
        text-align: left;
    }

    .download__flex_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 124.53px;
    }

    .download__heading, .download__desc {
        text-align: left;
    }

    .download__flex {
        padding-top: 117.54px;
        padding-bottom: 180.78px;
        text-align: center;
    }

    .download__content, .download__illustration  {
        width: 45%;
    }

    .download__heading {
        max-width: 24ch;
        margin-top:-50px;
    }

    .download__desc {
        width: 50ch;
    }

    .download__illustration {
        flex: auto;
    }

    .download__btns {
        justify-content: flex-start;
        margin-top: -150px;
    }

    .news__flex {
        display: flex;
        gap: 33px;
        
    }

    .grid {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 80px;
        }


}

@media screen and (min-width: 1130px) {
    #showMenu, #openMenu, #closeMenu {
        display: none;
    }

    .logo {
        margin-right: 7rem;
    }

    .nav {
        flex: 1;
        
    }

    .nav__flex {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }

    header {
        width: 100%;
    }

    .hero {
        width: 100%;
        height: 100%;
        padding-top: 5rem;
    }

    .hero__flex {
        /* width: 1170px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 151.37px; */
    }

    .hero__content {
        text-align: left;
        width: 60%;
        /* flex: 1; */
    }

    .hero__title {
        max-width: 20ch;
    }

    .hero__desc {
        margin-left: 0;
        margin-right: 0;
    }

    .hero__illustration {
        width: 30%;
        padding-right: 3.06rem;
        margin-top: -70px;
    }

    .hero__image {
        z-index: 10;
    }

    /* .hero__image-2 {
        position: absolute;
        left:600px;
        top: 215px;
        /* z-index: 0; */
    } */

    .scrool {
        padding-top: 0rem;
    }
}

@media screen and (min-width: 1260px) {
    .wrapper {
        max-width: 1440px;
        padding-left: 8.4375rem;
        padding-right: 8.4375rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* #showMenu, #openMenu, #closeMenu {
        display: none;
    } */

    /* .hero {
        padding-top: 5rem;
    }

    .hero__content {
        text-align: left;
    }

    .hero__flex {
        display: inline-flex;
        justify-content: space-between;
        gap: 151.37px;
    } */

    /* .hero__image-2 {
        position: absolute;
        left: 822px;
        top: 305.35px;
    }

 
      .wrapper__ribbon {
        position: absolute;
        top: 138.21px;
        left: -3px;
      } */
/* 
      .scrool {
        display: inline-block;
        padding-bottom: 1.588rem;
      } */

    
}

@media screen and (min-width: 1440px) {
    .nav__flex {
        display: flex;
        /* justify-content: space-between; */
        gap: 172.5px;
    }

    .hero__title {
        font-size: 3.75rem;
        line-height: 90px;
    }

    .hero__image-2 {
        position: absolute;
        left: 835px;
        top: 270px;
        /* z-index: 0; */
    }
}



/* @media screen and (min-width: 1024px) {
    .wrapper {
        padding-left: 8.4375rem;
        padding-right: 8.4375rem;
    }

    .navbar {
        padding-top: 1.938rem;
        gap: 10.68rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        gap: 10.781rem;
    }

    #showMenu, #openMenu, #closeMenu {
        display: none;
    }

    .nav__flex {
        display: flex;
        justify-content: space-between;
        gap: 172.5px;
    }

    .hero__content {
        text-align: left;
        flex: 0 0 665px;
    }

    .hero__flex {
        display: flex;
        justify-content: space-between;
        gap: 151.37px;
    }

    
    
    
    
    

    .hero__image-2 {
        position: absolute;
        left: 822px;
        top: 305.35px;
    }

    .marketPrice__data:first-child {
        text-align: left;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #828282;
        padding-right: 1rem;
    }

    .star-icon {
        padding-right: 12px;
    }

    .marketPrice__data:nth-child(2) {
        width: 128px;
        padding-right: 56.63px;
    }

    .marketPrice__head:nth-child(3),
    .marketPrice__data:nth-child(3) {
        text-align: center;
        padding-right: 45px;
    }

    .marketPrice__data:nth-child(4),
    .marketPrice__data:nth-child(5) {
        font-weight: 400;
        font-size: 13px;
        line-height: 123%;
    }

    .marketPrice__head:nth-child(4){
        text-align: left;
    }

    .marketPrice__data:nth-child(4) {
        width: 49.53px;
        padding-right: 64.69px;
    }
    
    .marketPrice__head:nth-child(5) {
        text-align: left;
        padding-left: .5rem;
    }

    .marketPrice__data:nth-child(5){
        width: 58px;
        padding-right: 45px;
    }

    .marketPrice__head:nth-child(6) .flex {
        justify-content: center;
    }

    .marketPrice__data:nth-child(6) {
        text-align: center;
    }

    .marketPrice__data:nth-child(7) {
        padding-left: 55px;
        padding-right: 55px;
    }

    .marketPrice__dots {
        padding-left: 20px;
    }
} */
/* @media screen and (min-width: 1008px) {
    .hero__content{
        text-align: center;
    }

    .marketPrice__table {
        max-width: 1170px;
    }
} */

/* @media screen and (min-width: 1025px) {
    .wrapper {
        max-width: ;
        padding-left: 8.4375rem;
        padding-right: 8.4375rem;
    }

    .navbar {
        padding-top: 1.938rem;
        gap: 10.68rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        gap: 10.781rem;
    }

    #showMenu, #openMenu, #closeMenu {
        display: none;
    }

    .nav__flex {
        display: flex;
        justify-content: space-between;
        gap: 172.5px;
    }

    .wavy-bg {
        width: 100%;
        height: 100%;
        background: linear-gradient(227.07deg, #4E0062 0.43%, #220076 99.56%);
        background-position: bottom;
        position: relative;
    }

    svg {
        position: absolute;
        top: 37.1rem;
        left: 0;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
    }

    .nav__link {
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1.0625rem;
        line-height: 141%;
        color: #FFFFFF;
    }

    .nav__btn {
        width: 152px;
        height: 47px;
        border: 2px solid #EB5757;
        border-radius: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.0625rem;
        line-height: 100%;
        color: #FFFFFF;
        background-color: transparent;
        text-transform: capitalize;
    }
    
    .hero {
        /* padding-top: 5rem; */
    }

    /* .hero__content {
        text-align: left;
    }

 
      .wrapper__ribbon {
        position: absolute;
        top: 138.21px;
        left: -3px;
      }

      .scrool {
        display: inline-block;
        padding-bottom: 1.588rem;
      }

      .marketPrice__title {
        padding-top: 5.93rem;
        padding-bottom: 3.75rem;
        font-weight: 700;
        font-size: 2rem;
        line-height: 48px;
      }

    .marketPrice__data:first-child {
        text-align: left;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #828282;
        padding-right: 1rem;
    }

    .star-icon {
        padding-right: 12px;
    }

    .marketPrice__data:nth-child(2) {
        width: 128px;
        padding-right: 56.63px;
    }

    .marketPrice__head:nth-child(3),
    .marketPrice__data:nth-child(3) {
        text-align: center;
        padding-right: 45px;
    }

    .marketPrice__data:nth-child(4),
    .marketPrice__data:nth-child(5) {
        font-weight: 400;
        font-size: 13px;
        line-height: 123%;
    }

    .marketPrice__head:nth-child(4){
        text-align: left;
    }

    .marketPrice__data:nth-child(4) {
        width: 49.53px;
        padding-right: 64.69px;
    }
    
    .marketPrice__head:nth-child(5) {
        text-align: left;
        padding-left: .5rem;
    }

    .marketPrice__data:nth-child(5){
        width: 58px;
        padding-right: 45px;
    }

    .marketPrice__head:nth-child(6) .flex {
        justify-content: center;
    }

    .marketPrice__data:nth-child(6) {
        text-align: center;
    }

    .marketPrice__data:nth-child(7) {
        padding-left: 55px;
        padding-right: 55px;
    }

    .marketPrice__data span {
        position: absolute;
        padding-top: 0.625rem;
        font-weight: 600;
        font-size: 0.6875rem;
        color: #828282;
        line-height: 11px;
    }

    .marketPrice__dots {
        padding-left: 20px;
    }
} */


























.toge {
    height: 450px;
    
    text-align: center;
    color: #fff;
    max-width: 100%;
  }
  .headings h1 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 3.13em;
    line-height: 1.5em;
    padding: 92px 0 14px 0;
  }
  .headings p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.75em;
    line-height: 0.8em;
    padding-bottom: 50px;
  }
  /* input and button */
  .int {
    display: flex;
    justify-content: space-between;
    border: 2px solid #fff;
    border-radius: 37px;
    width: 578px;
    height: 74px;
    outline: none;
    margin: 0 auto;
  }
  .ema {
    background-color: transparent;
    /* margin-left: 30px; */
    text-align: center;
    font-size: 0.9em;
    border: none;
  }
  .sub {
    width: 139px;
    height: 62px;
    background-color: #eb5757;
    border-radius: 31px;
    border: none;
    color: #fff;
    margin: 4px 5px 4px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 1.07em;
    font-weight: 500;
  }

  .credit {
    text-align: center;
    padding-top: 26.04px;
    padding-bottom: 35.16px;
  }

.social-icons span {
    
    /* width: 32px;
    height: 32px; */
    margin-right: 16.32px;
}

/* .social-icons i {
    border: 1px solid #616161;
    border-radius: 10px;
    font-size: 32px;
    padding: 12px;
} */



.platform {
    background: #FFF6FB;
    width: 100%;
}
.box1{
   padding: 100px 50px;
    max-width: 100%;
    
}
.text{
    text-align: center;
    padding-bottom: 20px;
   
}
.text h2{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 32px;

color: #171717;
padding-bottom: 40px;
}
.img-con{
    padding-bottom: 20px;
    
}
.h3{
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
color: #000000;
line-height: 14px;
align-items: center;
text-align: center;

   
}
.p1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    line-height: 35px;
    list-style: none;
    text-align: left;
    justify-content: space-between;
    padding: 10px 0px;
   
}
.container {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}
.trade{
    
   
    text-align: left;
    

    
}


.box2{
    background: #1b004e;
  
 
     padding: 50px 0px; 
    
    height: 575.38px;
  
}
.box-content{

    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.text2{
    max-width: 29ch;
   padding-top: 100px;
    color: #fff;
}
.img-box2{
    display: flex;
    padding-left: 140px;
    gap: 20px;
    
   
    
}
.google{
    width: 15%;
}
.appstore{
    width: 15%;
}
.p2{
    padding-top: 20px;
    padding-bottom: 50px;

}
.img-box{
    width: 50%;
    position: relative;
}
.shape{
    position: absolute;
    top: 15px;
    left: 350px;  
}
.app{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.box3{
    background: #FFF6FB;
    padding-top: 50px; 
   
    
}

.box-content2{
    width: 100%;
    padding: 100px 100px;
    display: flex;
    gap: 33px;

    justify-content: space-around;
   

}
.box3 .head3{
    text-align: center;
    padding: 50px 0px;
}
.sub{
    
    box-shadow: 0px 4px 8px rgba(203, 203, 203, 0.25);
    border-radius: 10px;
    
    
   
}
.sub-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sub-sec{
   
   
    padding: 20px;
    margin: auto;
    
}
.sub-con{
   display: flex;
 
   
   justify-content: space-between;
   gap: 30px;
   
}
.sub-con > p, span {
    font-size: 11px;
    letter-spacing: 0.03em;
    
}
.sub-sec h5{
    padding: 4.55px 0px;
    font-size: 16px;
    margin-bottom: 13px;
}
.sub-sec > p{
    color: #4F4F4F;
    font-size: 14px;
    margin-bottom: 28px;
}
.sub-sec-p {
    display: flex;
    align-items: center;
    justify-content: center;
}




@media only screen and (max-width: 600px) {
    .container {
     flex-direction: column;
    
    }
    .box1{
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .box-content{
         flex-direction: column;
    }
    .trade{
        width: 100%;
        text-align: center;
       
    }
    .p1{
        text-align: center;
    }
    
    .box2{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .shape{
        display: none;
    }
    .app{
        position: relative;
        width: 260px;
        height: 250px;
        margin: auto;
        padding-bottom: 20px;
        padding-left: 50px;
    }
    .box-content2{
        flex-direction: column;
        padding: 16px;
    } 
    .box3{
        height: auto;
    } 
    .sub{
        width: 100%;
        
        margin-bottom: 30px;
    }  

    .sub-con > p, span {
        font-size: 9px;
        letter-spacing: 0.03em;
    }
    .text{
      
        text-align: center;
    }
    .text2{
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    
    .img-box2{
       display: flex;
       padding: 0;
       width: 100%;
       align-self: center;
       justify-content: center;
       gap: 20px;
       
    }
    .google, .appstore{
        width: 30%;
    }
} 


/* heading and paragraph */
/* .toge {
  height: 450px;
  background-color: #1b004e;
  text-align: center;
  color: #fff;
  max-width: 100%;
}
.headings h1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 3.13em;
  line-height: 1.5em;
  padding: 92px 0 14px 0;
}
.headings p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  line-height: 0.8em;
  padding-bottom: 50px; */
}
/* input and button */
/* .int {
  display: flex;
  justify-content: space-between;
  border: 2px solid #fff;
  border-radius: 37px;
  width: 578px;
  height: 74px;
  outline: none;
  margin: 0 auto;
} */
.ema {
  background-color: transparent;
  /* margin-left: 30px; */
  text-align: center;
  font-size: 0.9em;
  border: none;
}
/* .sub {
  width: 139px;
  height: 62px;
  background-color: #eb5757;
  border-radius: 31px;
  border: none;
  color: #fff;
  margin: 4px 5px 4px 0px;
  font-family: "Poppins", sans-serif;
  font-size: 1.07em;
  font-weight: 500;
} */
footer {
  /* background: linear-gradient(227.07deg, #4E0062 0.43%, #220076 99.56%); */
  /* height: 539.45px; */
  /* padding: 81px; */
}
/* .footn {
  display: flex;
  justify-content: space-evenly;
}
.ftn .hdone {
  font-weight: 600;
  font-size: 1.1em;
  color: #fff;
}
.ftn p {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  color: #e6e6e6;
}
.ln {
  margin: 59.09px 0px 44px 0px;
  border: 1px solid #bcbcbc;
  width: -20px; */
  /* position: absolute; */
  /* bottom: 90px;
  left: -10px; */
}
/* .cpyrt {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 0.88em;
  color: #bcbcbc;
}
.icn i {
  border: 1px solid #616161;
  color: #616161;
  border-radius: 10px;
  padding: 8px;
  width: 32px;
  height: 32px;
  margin-right: 16.32px;
}
.icn i.active {
  background-color: #eb5757;
  color: #fff; */
}
/* .icn i:hover {
  background-color: #eb5757;
} */
/* @media only screen and (max-width: 700px) {
  .toge {
    height: 257.92px;
  }
  .headings h1 {
    font-size: 1.5em;
    text-align: center;
    padding: 50px 0 10px 0;
  }
  .headings p {
    font-size: 0.88em;
    text-align: center;
    padding-bottom: 30px; */
  }
  /* .int {
    border: 2px solid #fff;
    border-radius: 37px;
    width: 280px;
    height: 50px;
    margin: 0 auto;
  }
  .ema {
    font-size: 0.7em;
  }
  .sub {
    width: 50%;
    height: 40px;
    margin: 4px 2px 4px 0px;
    font-size: 0.7em;
    font-weight: 500;
  }
  footer {
    background-color: #470165;
    color: #fff;
    padding: 28px;
  }
  .footn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px 97.4px;
  }
   .footn div:nth-child(5){
    grid-row: 3/3;
   }
   .footn div:nth-child(4){
    grid-row: 2/3;
   }
  .ftn p {
    margin-bottom: 20px;
  }
  .ln {
    margin: 10px 0px 0px 0px;
    border: 1px solid #bcbcbc;
    width: -20px;
    bottom: 90px;
    left: -10px;
  }
  .cpyrt {
    max-width: 100%;
    font-size: 0.88em;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center;
  }
  .cpyrt div:nth-child(1){
    order: 2;
  }
  .cpyrt div:nth-child(2){
    order: 1;
  }
  .cpyrt .icn{
    padding: 26.09px 0px;
  }
 
  .footn .ftn .comp {
    order: 0;
  }
  .footn .ftn .bus {
    order: 1;
  }
  .footn .ftn .exc {
    order: 3
  }
  .footn .ftn .blc {
    order: 2;
  }
  .footn .ftn .rsc {
    order: 4;
  } */
} */
